USE [master]
GO
/****** Object:  Database [Italika]    Script Date: 01/06/2021 07:26:48 p. m. ******/
CREATE DATABASE [Italika]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Italika', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Italika.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Italika_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Italika_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Italika].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Italika]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 01/06/2021 07:26:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sku] [varchar](10) NOT NULL,
	[Modelo] [varchar](10) NOT NULL,
	[IdTipo] [int] NOT NULL,
	[NumeroSerie] [varchar](10) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 01/06/2021 07:26:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tipo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[BuscarPorModelo]    Script Date: 01/06/2021 07:26:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BuscarPorModelo](
@Modelo as varchar(50)
)
as
Begin
	SELECT Id, Sku, Modelo, IdTipo, NumeroSerie, Fecha  FROM Producto WHERE Modelo=@Modelo
end
GO
/****** Object:  StoredProcedure [dbo].[BuscarPorSKU]    Script Date: 01/06/2021 07:26:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BuscarPorSKU](
@SKU as varchar(50)
)
as
Begin
	SELECT Id, Sku, Modelo, IdTipo, NumeroSerie, Fecha  FROM Producto WHERE Modelo=@SKU
end
GO
/****** Object:  StoredProcedure [dbo].[BuscarTodos]    Script Date: 01/06/2021 07:26:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BuscarTodos]
as
Begin
	SELECT Id, Sku, Modelo, IdTipo, NumeroSerie, Fecha  FROM Producto
end
GO
USE [master]
GO
